.cell {

}

.cell-highlight {

}

.cell-hover-highlight {
}
.busStop {
    -fx-background-radius: 0%;

}
.bus {
    -fx-background-radius: 0%;

}
.metroStop{
    -fx-background-radius: 0%;
    -fx-background-color: #4f1d1d;
}
.gem {
    -fx-max-height: 100px;
    -fx-max-width: 100px;
}

.cell-obstacle {
-fx-background-image: url('/images/icon.png');
-fx-background-size: cover; -fx-background-position: center center;
}

.cell.finish {
    -fx-background-color: green;
}
.taxi{

}
.bicycle{
    -fx-background-color: #66FFFF;
}