.cell {
    -fx-background-radius: 50%;
}

.cell-highlight {
    -fx-background-color:blue;
}

.cell-hover-highlight {
}
.busStop {
    -fx-background-radius: 0%;
    -fx-background-color: orange;
}
.bus {
    -fx-background-radius: 0%;
    -fx-background-color: black;
}
.gem {
    -fx-background-color: purple;
}

.cell-obstacle {
    -fx-background-color: #808080;
    -fx-background-radius: 0%;
}

.cell.finish {
    -fx-background-color: green;
}